header {
    display: flex;
    height: 5rem;
    justify-content: space-around;
    /*margin-top: 20px;*/
    margin-bottom: 50px;
    align-items: center;
    background-color: #EAE4DD;
    box-shadow: 10px 10px 5px gray;

  }
  
  header a {
    text-decoration: none;
    color: inherit;
  }
  
  header a.logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  header nav {
    display: flex;
    gap: 15px;
  }