.image{
    max-height: 200px;
    display: flex;
    overflow: hidden;
  }
  
.image img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }
  
.post-page a{
    color: #333;
    text-decoration: underline;
  }
  
.post-page h1{
    text-align: center;
    margin: 10px 0 5px;
  }
  
.post-page time{
    text-align: center;
    display: block;
    font-size: .7rem;
    color: #aaa;
  }
  
.post-page div.author{
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
  }
  
.post-page div.content p{
    line-height: 1.6rem;
  }

  div.edit-row{
    text-align: center;
    margin-bottom: 20px;
  }
  
  div.post-page a.edit-btn {
    background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
  }

div.post-page a.delete-btn {
  background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
}
  
  a svg{
    height: 20px;
  }
.content{
  margin: 20px;
}