<form (ngSubmit)="newPost()">
    <input 
        type="text" 
        placeholder="Title" 
        [(ngModel)]="title" 
        name="title"
        required
        (input)="validateForm()" />
    <input 
        type="text"
        placeholder="Summary"
        [(ngModel)]="summary"
        name="summary"
        required 
        (input)="validateForm()"/>
    <input 
        type="file"
        (change)="onFileChange($event)" />
        <app-editor 
            [(value)]="content"
            (valueChange)="validateForm()">
        </app-editor>
    <button type="submit" style="margin-top: 5px" [disabled]="!isFormValid"> Create Post </button>        
</form>
